{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "SQL": "Server=database.tothe.hu;Database=HibaVonal;User Id=sa;Password=UqE10027;MultipleActiveResultSets=true;"
  },
  "JWT": {
    "Key": "key",
    "Audience": "audience",
    "Issuer": "Issuer"
  }
}
