{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=IP;Database=HibaVonal;User Id=User;Password=Password;MultipleActiveResultSets=true;"
  }
}
